<!DOCTYPE html>
<html>
  <head>
    <title>foto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= foto %></h1>
    <img src="/public/images/bici.jpg" alt="<%= foto %>"/>
  </body>
</html>
