<!DOCTYPE html>
<html>
  <head>
    <title>Foto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= foto %></h1>
    <img src="<%= src %>" alt="<%= foto %>"/>
  </body>
</html>
